section#carousel{
    .cont-data-car{
        width: 100%;
        height: 100%;
        position: absolute;box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;


            .data-car{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                    .data-a{
                        h2{
                            font-family: $bajadas;
                            font-size: 20px;
                            letter-spacing: 3px;
                            color: $colorTexoto02;
                            font-weight: normal;
                            text-transform: uppercase;
                            margin: 20px 0px;
                            opacity: .7;
                        }
                    }

                    .data-b{
                        h1{
                            font-family: $bajadas;
                            font-size: 40px;
                            color: $colorTexoto01;
                            font-weight: 200 ;
                        }
                    }

                    .data-c{
                        .cont-info{
                            width: 120px;
                            height: 50px;
                            margin-top: 0px;
                            background-color:$colorEtchegoyen;
                            border-radius: 25px;

                                &:hover{
                                    background-color: $colorOverEtchegoyen;
                                }

                                .info{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;

                                        .info-a{
                                            width: 100%;
                                            
                                                a{
                                                    text-decoration: none;
                                                }

                                                h1{
                                                    font-family:$bajadas ;
                                                    font-size: 25px;
                                                    color:$colorTexoto01;
                                                    margin:10px 0px ;
                                                    text-align: left;
                                                }

                                                img{
                                                    width: 14px;
                                                    margin: 7px 7px 7px 20px;
                                                    height: auto;
                                                    float: left
                                                }

                                        }

                                        .info-b{
                                            width:0%;
                                        }
                                }
                        }
                    }
            }
    }
}

@media screen and (max-width:1200px){
        section#carousel{
            .cont-data-car{
                .data-car{
                    .data-a{
                        h2{
                            font-size: 20px;
                        }
                    }
                    .data-b{
                        h1{
                            font-size: 40px;
                        }
                    }
                }
            }
    }
}

@media screen and (max-width:700px){
    section#carousel{
        .cont-data-car{
            .data-car{
                .data-a{
                    h2{
                        font-size: 14px;
                    }
                }
                .data-b{
                    h1{
                        font-size: 25px;
                    }
                }
            }
        }
}
}