.cont-cajafondo-01{
    width: 100%;
    height: auto;
    background-color: $colorFondo01;
}

.cont-titulos{
    width: 100%;
    height: auto;
    text-align: center;

    h1{
        font-family: $bajadas;
        font-size: 30px ;
        color: $colorTitulares;
        font-weight: normal;
        text-transform: uppercase;
        margin: 0px;
        padding: 50px 0px 10px 0px;
        box-sizing: border-box;
    }
}

.cont-modulo-3-columnas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 50px 100px 100px 100px;
    box-sizing: border-box;

        .modulo-3-a, .modulo-3-b, .modulo-3-c{
            width: 31%;
            margin: 30px 1%;
        }

}

.caja-3-columnas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-b;

    .imagen{
        img{
            width: 100%;
            height: auto;
        }
    }

    .informacion{
        padding: 20px;
        box-sizing: border-box;
        h1{
            font-family: $titulares;
            font-size: 24px ;
            color: $colorTitulares;
            font-weight: 900;
            margin: 10px ;
        }
        p{
            font-family: $textosParrafo;
            font-size: 16px ;
            color: $colorTitulares;
            font-weight: normal;
            margin: 10px ;
        }
    }

    .cont-boton-info{
        width: 100%;
        height: 55px;
        margin: 30px 0px;
        text-align: center;

        :hover{
            background-color: $colorOverEtchegoyen;
            cursor: pointer;
        }
        
        .boton-info{
            width: 120px;
            margin-left: auto;
            margin-right: auto;
            height: 55px;
            border-radius: 27px;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
    
            h3{
                font-family:$textosTitular ;
                font-size: 16px;
                font-weight: normal;
                margin: 7px 0px;
                color:$colorTexoto01 ;
            }
        }
    
    }


}

@media screen and (max-width:1200px){

    .cont-modulo-3-columnas{
        flex-direction: column;
        padding: 30px;

        .modulo-3-a, .modulo-3-b, .modulo-3-c{
            width: 100%;
            margin: 30px 0px;
        }

        .caja-3-columnas{
            width: 100%;
            height:auto;
            align-items: none;

        }

    }
}