section#certificados{
    
    .cont-img-sec{
        width: 100%;
        height: 400px;
        background-image:url(..//img/sec_certificaciones.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        .cont-text-img-sec{
            width: 100%;
            height: 100%;
            padding: 100px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(1, 1, 1, 1.0));
    
                h2{
                    font-family: $bajadas;
                    font-size: 20px;
                    letter-spacing: 3px;
                    color: $colorTexoto02;
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: right;
                    margin: 20px 0px;
                    opacity: .7;
                }
    
                h1{
                    font-family: $bajadas;
                    font-size: 40px;
                    color: $colorTexoto01;
                    font-weight: 200 ;
                    text-align: right;
                }
        }
    
    }

    .cont-info-sec{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding: 50px 100px;
        box-sizing: border-box;

            .info-sec{
                width: 100%;
                display: flex;
                flex-direction: column;

                    h1{
                        font-family: $bajadas;
                        font-size: 40px;
                        letter-spacing: 3px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }

                    h2{
                        font-family: $bajadas;
                        font-size: 25px;
                        letter-spacing: 3px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }

                    p{
                        font-family: $textosParrafo;
                        font-size: 16px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }
            }
    }

    .cont-certificados{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: 50px 100px;
        box-sizing: border-box;
        justify-content: center;
        flex-wrap: wrap;
        background-image: url(..//img/shape_01_izq.svg);
        background-size: cover;
        background-repeat: no-repeat;

            .certificados{
                width: 210px;
                height: auto;
                padding: 5px;
                margin: 5px;
                box-sizing: border-box;
                background-color: #ffffff;
                border: 1px solid #DADADA;

                    :hover{
                        opacity: .5;
                        transition:  0.5s ease-out;
                    }
            }
    }

}

@media screen and (max-width: 1100px){
    section#certificados{

        .cont-info-sec{
            width: 700px;
        }

    }
}

@media screen and (max-width:768px){

    section#certificados{
        .cont-img-sec{
            background-image: url(..//img/sec-certificaciones-mobile.jpg);

            .cont-text-img-sec{
                padding: 30px;

                        
                    h2{
                        font-size: 14px;
                        letter-spacing: 3px;
                        text-align: left;
                        margin: 20px 0px;
                    }
        
                    h1{
                        font-family: $bajadas;
                        font-size: 30px;
                        color: $colorTexoto01;
                        font-weight: 200 ;
                        text-align: left;
                    }
            }
        }

        .cont-info-sec{
            padding: 30px;
    
                .info-sec{  
                        h1{
                            font-size: 30px;
                            margin: 15px 0px;
                        }
    
                        h2{
                            font-size: 18px;
                            margin: 15px 0px;
                        }
    
                        p{
                            font-size: 14px;
                            margin: 15px 0px;
                        }
                }
        }

        .cont-certificados{
            flex-direction: column;
            padding: 30px;
            box-sizing: border-box;
            justify-content: space-between;
            flex-wrap: nowrap;
            background-image: url(..//img/shape_01_izq.svg);
            background-size: cover;
            background-repeat: no-repeat;
    
                .certificados{
                    margin: 10px auto;
                }
        }

    }
}



section#empresa{
    
    .cont-img-sec{
        width: 100%;
        height: 400px;
        background-image:url(..//img/sec-empresa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        .cont-text-img-sec{
            width: 100%;
            height: 100%;
            padding: 100px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(1, 1, 1, 1.0));
    
                h2{
                    font-family: $bajadas;
                    font-size: 20px;
                    letter-spacing: 3px;
                    color: $colorTexoto02;
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: right;
                    margin: 20px 0px;
                    opacity: .7;
                }
    
                h1{
                    font-family: $bajadas;
                    font-size: 40px;
                    color: $colorTexoto01;
                    font-weight: 200 ;
                    text-align: right;
                }
        }
    
    }

    .cont-info-sec#nota01{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        height: auto;

            .info-sec{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 50px 100px;
                box-sizing: border-box;

                    h1{
                        font-family: $bajadas;
                        font-size: 40px;
                        letter-spacing: 3px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }

                    h2{
                        font-family: $bajadas;
                        font-size: 25px;
                        letter-spacing: 3px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }

                    p{
                        font-family: $textosParrafo;
                        font-size: 16px;
                        color: $colorTexoto03;
                        font-weight: normal;
                        text-align: left;
                        margin: 5px 0px;
                    }
            }

            .cont-data-sec{
                width: 100%;
                height: auto;
                padding: 50px 100px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;

                    .data-sec-01{
                        width: 50%;

                            img{
                                width: 100%;
                                height: auto;
                            }
                    }

                    .data-sec-02{
                        width: 50%;
                    }

                    .padding-izq{
                        padding: 0px 0px 0px 20px;
                    }

                    .padding-der{
                        padding: 0px 20px 0px 0px;
                    }

                    p{
                        font-family:$textosParrafo;
                        font-size: 16px;
                        color:$colorTexoto03 ;
                        font-weight: normal;
                    }
            }

            .base-color-01{
                background-color: #F3F2F2;
            }
    }

    .fondo-complementario{
        width: 100%;
        height: auto;
        background-color: #F3F2F2;
    
        .cont-info-sec#nota02{
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            height: auto;
    
                .info-sec{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 50px 100px;
                    box-sizing: border-box;
    
                        h1{
                            font-family: $bajadas;
                            font-size: 40px;
                            letter-spacing: 3px;
                            color: $colorTexoto03;
                            font-weight: normal;
                            text-align: left;
                            margin: 5px 0px;
                        }
    
                        h2{
                            font-family: $bajadas;
                            font-size: 25px;
                            letter-spacing: 3px;
                            color: $colorTexoto03;
                            font-weight: normal;
                            text-align: left;
                            margin: 5px 0px;
                        }
    
                        p{
                            font-family: $textosParrafo;
                            font-size: 16px;
                            color: $colorTexoto03;
                            font-weight: normal;
                            text-align: left;
                            margin: 5px 0px;
                        }
                }
    
                .cont-data-sec{
                    width: 100%;
                    height: auto;
                    padding: 50px 100px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
    
                        .data-sec-01{
                            width: 50%;
    
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                        }
    
                        .data-sec-02{
                            width: 50%;
                        }
    
                        .padding-izq{
                            padding: 0px 0px 0px 20px;
                        }
    
                        .padding-der{
                            padding: 0px 20px 0px 0px;
                        }
    
                        p{
                            font-family:$textosParrafo;
                            font-size: 16px;
                            color:$colorTexoto03 ;
                            font-weight: normal;
                        }
                }
    
        }
    
    }


    .shape-diagonal-01{
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 70%);
        shape-outside: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
        background-color: #F3F2F2;
        position: relative;
        box-sizing: border-box;
        padding: 100px;
    }
      
    [class*='shape'] {
          width: 100%;
          height: 100%;
          object-fit: cover;
    }

}

@media screen and (max-width: 1100px){
    section#empresa{

        .cont-info-sec#nota01{
            width: 700px;
        }

        .fondo-complementario{
            .cont-info-sec#nota02{
                width: 700px;
            }
        }
    }
}

@media screen and (max-width:768px){

    section#empresa{
        .cont-img-sec{
            background-image: url(..//img/sec-empresa-mobile.jpg);

            .cont-text-img-sec{
                padding: 30px;
                        
                    h2{
                        font-size: 14px;
                        letter-spacing: 3px;
                        text-align: left;
                        margin: 20px 0px;
                    }
        
                    h1{
                        font-family: $bajadas;
                        font-size: 30px;
                        color: $colorTexoto01;
                        font-weight: 200 ;
                        text-align: left;
                    }
            }
        }

        .cont-info-sec#nota01{
            width: 100%;

                .info-sec{
                    padding: 0px 30px;
                    box-sizing: border-box;
    
                        h1{
                            font-size: 30px;
                             margin: 15px 0px;
                        }
    
                        h2{
                            font-size: 18px;
                            margin: 15px 0px;
                        }
    
                        p{
                            font-size: 16px;
                            margin: 15px 0px;
                        }
                }
    
                .cont-data-sec{
                    padding: 30px;
                    flex-direction: column;
    
                        .data-sec-01{
                            width: 100%;
    
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                        }
    
                        .data-sec-02{
                            width: 100%;
                        }
    
                        .padding-izq{
                            padding: 0px 0px 0px 0px;
                        }
    
                        .padding-der{
                            padding: 0px 0px 0px 0px;
                        }
    
                        p{
                            font-family:$textosParrafo;
                            font-size: 16px;
                            color:$colorTexoto03 ;
                            font-weight: normal;
                            margin: 15px 0px;
                        }
                }
        }

        .fondo-complementario{
            
            .cont-info-sec#nota02{
                width: 100%;
    
                    .info-sec{
                        padding: 0px 30px;
                        box-sizing: border-box;
        
                            h1{
                                font-size: 30px;
                                 margin: 15px 0px;
                            }
        
                            h2{
                                font-size: 18px;
                                margin: 15px 0px;
                            }
        
                            p{
                                font-size: 16px;
                                margin: 15px 0px;
                            }
                    }
        
                    .cont-data-sec{
                        padding: 30px;
                        flex-direction: column;
        
                            .data-sec-01{
                                width: 100%;
        
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                            }
        
                            .data-sec-02{
                                width: 100%;
                            }
        
                            .padding-izq{
                                padding: 0px 0px 0px 0px;
                            }
        
                            .padding-der{
                                padding: 0px 0px 0px 0px;
                            }
        
                            p{
                                font-family:$textosParrafo;
                                font-size: 16px;
                                color:$colorTexoto03 ;
                                font-weight: normal;
                                margin: 15px 0px;
                            }
                    }
            }
        }


        .shape-diagonal-01{
            padding: 30px;
        }
    }
}

