body{
    margin: 0px;
    background-color: #ffffff;
}

@font-face {
    font-family: Rock-Regular;
    src: url(..//fonts/ROCK.woff);
}

@font-face {
    font-family: Rock-Bold;
    src: url(..//fonts/ROCKB.woff);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(..//fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(..//fonts/Roboto-Bold.woff);
}

//Fuentes Generales
$bajadas: 'Rock-Regular', sans-serif;
$titulares: 'Rock-Bold', sans-serif;
$textosTitular:'Roboto-Bold', sans-serif;
$textosParrafo:'Roboto-Regular', sans-serif;

$regular: 400;
$medium: 500;
$semibold: 700;
$bold: 900;

//Colores Generales
$colorFondo01:#F3F2F2;
$colorFondo02:#ffffff;
$colorFondo03:#95C11F;
$colorFondo04:#EAF3D2;
$colorFondo05:#8C8984;
$colorFondo06:#B0B0AD;
$colorFondo07:#676767;
$colorFondo08:#E3E3E3;
$colorFondo09:#34CD9E;
$colorFondo10:#2ebd92;
$colorFondo11:#4D4D4D;
$colorTitulares:#000000;
$colorBajada01:#B0B0AD;
$colorBoton01: #4060C0;
$colorBoton02: #0191C8;
$colorEtchegoyen:#0950A1;
$colorOverEtchegoyen:#074388;
$colorTexoto01:#ffffff;
$colorTexoto02:#eeecec;
$colorTexoto03:#4D4D4D;
$colorTexoto04:#676767;

//Colores Footer
$textoFooter:#ffffff;

.fondo-verde-claro{
    background-color:$colorFondo04 ;
}

.fondo-verde{
    background-color:$colorFondo03;
}

.fondo-blanco{
    background-color:$colorFondo02 ;
}

.color-etchegoyen{
    background-color: $colorEtchegoyen ;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

// Compilado de archivos
@import "..//assets/_navbar";
@import "..//assets/_carrusel_intro";
@import "..//assets/_secciones";
@import "..//assets/servicios";
@import "..//assets/productos";
@import "..//assets/_card_productos";
@import "..//assets/_modulo_3_columnas";
@import "..//assets/_slider_historia";
@import "..//assets/_modulo_4_columnas";
@import "..//assets/_form";
@import "..//assets/_footer";


